<div class="container">
  <div class="section-0">
    <div>
      N'hésitez pas <span class="contacte">à nous contacter</span> pour toute
      assistance nécessaire.
    </div>
  </div>
  <div class="container-footer">
    <div class="section-1">
      <div class="container-logo">
        <div>
          <img src="assets/imgs/logo.png" alt="logo" />
        </div>
      </div>
      <div class="section-2">
        <div>Copyright © 2025 BrusselsPermis - All Rights Reserved</div>
      </div>
      <div class="container-payment">
        <div class="container-sociel-media">
          <div class="medias">
            <div class="media">
              <img src="assets/imgs/sociale.png" alt="instagram" (click)="clickInstagrame()"/>
            </div>
            <div class="media">
              <img src="assets/imgs/communication.png" alt="whatsapp"/>
            </div>
            <div class="media">
              <img src="assets/imgs/whatsapp.png" alt="whatsapp"  (click)="clickWhat()" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
