<div class="container-cars">
  <!-- p1 -->
  <div class="container-title">
    <div class="title">Voitures</div>
  </div>

  <!-- P2 -->
  <div class="cars">
    <div class="car">
      <div class="container-image">
        <img src="assets/imgs/TROC_DARK_LINE.png" alt="" />
      </div>
      <div class="label">T-ROC</div>
    </div>

    <div class="car">
        <div class="container-image">
          <img src="assets/imgs/config-golf-r.jpg" alt="" />
        </div>
        <div class="label">GOLF-8</div>
      </div>
  </div>
</div>
