<div class="info-container">
  <!-- p1 -->
  <div class="container-title">
    <div class="title">Informations</div>
  </div>
  <!-- p2 -->
  <div class="container-description">
    <!-- Entreprise -->
    <div class="description">
      <div class="container-img-label">
        <div class="container-img">
          <img src="../../assets/imgs/carte-didentite.png" alt="" />
        </div>
        <div class="label">Nom d'Entreprise</div>
      </div>
      <div class="container-value">
        <div class="value">BrusselsPermis</div>
        <div class="container-img">
          <img src="../../assets/imgs/copie.png" alt="" (click)="copyText(0)" />
        </div>
      </div>
    </div>

    <!-- Adresse -->
    <div class="description">
      <div class="container-img-label">
        <div class="container-img">
          <img src="../../assets/imgs/adresse.png" alt="" />
        </div>
        <div class="label">Adresse</div>
      </div>
      <div class="container-value">
        <div class="value">Avenue houba de strooper, 71020 Bruxelles</div>
        <div class="container-img">
          <img src="../../assets/imgs/copie.png" alt="" (click)="copyText(1)" />
        </div>
      </div>
    </div>

    <!-- Numero -->
    <div class="description">
      <div class="container-img-label">
        <div class="container-img">
          <img src="../../assets/imgs/telephone.png" alt="" />
        </div>
        <div class="label">Numéro de contact</div>
      </div>
      <div class="container-value">
        <div class="value">+32 465 64 06 83</div>
        <div class="container-img">
          <img src="../../assets/imgs/copie.png" alt="" (click)="copyText(2)" />
        </div>
      </div>
    </div>

    <!-- mail -->
    <div class="description">
      <div class="container-img-label">
        <div class="container-img">
          <img src="../../assets/imgs/courrier.png" alt="" />
        </div>
        <div class="label">Adresse Mail</div>
      </div>
      <div class="container-value">
        <div class="value">brussels.permis&#64;gmail.com</div>
        <div class="container-img">
          <img src="../../assets/imgs/copie.png" alt="" (click)="copyText(3)" />
        </div>
      </div>
    </div>

    <!-- instagrame -->
    <div class="description">
      <div class="container-img-label">
        <div class="container-img">
          <img src="../../assets/imgs/instagram.png" alt="" />
        </div>
        <div class="label">Instagram</div>
      </div>
      <div class="container-value">
        <div class="value">brussels.permis</div>
        <div class="container-img">
          <img src="../../assets/imgs/copie.png" alt="" (click)="copyText(4)" />
        </div>
      </div>
    </div>
  </div>

   <!-- Notification -->
   <div *ngIf="showToast" class="toast">Le texte est copié</div>
</div>
