  <div class="golbale-home">
    <div class="container-home">
      <div class="img-home">
        <img src="../../assets/imgs/logo.png" alt="" />
      </div>

      <div class="container-sep">
        <div class="sep-barre"></div>
      </div>
      <!-- description home -->
      <div class="description-home">
        <!-- title -->
        <div class="container-tite">
          <div class="title">Brussels-Permis</div>
        </div>

        <!-- sous description -->
        <div class="container-sous-description">
          <div class="disc-2">
            Avec
            <span class="iptv-container">Brussels-Permis</span>
            bénéficiez d’une formation sur mesure, encadrée par des experts passionnés
            et dotée d’outils modernes. Rejoignez-nous dès maintenant pour réussir votre
            permis et conduire en toute sérénité.
          </div>
        </div>

        <!-- button -->
        <div class="container-button">
          <button class="btn" type="button" (click)="connect()">
            <strong>Contactez-nous</strong>

            <div id="glow">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

